
---
import { buttonVariants } from "@/components/ui/button/button.svelte"
import { type VariantProps } from "tailwind-variants"
import { cn } from "@/lib/utils/style.js"
import type { HTMLAttributes } from "astro/types"

type Props = HTMLAttributes<"button"> & VariantProps<typeof buttonVariants>

const { class: className, variant, size, ...attrs } = Astro.props
---

<button class={cn(buttonVariants({ variant, size, className }))} {...attrs}>
  <slot />
</button>
